body {
  background-color: white;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/*loader*/
.loader-wrapper{
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left: 0;
  background-color: rgb(255, 255, 255); 
  display: flex;
  justify-content: center;
  align-items: center; 
}
.loader-inner{
  animation: loader-anim 5s linear infinite;
}

@keyframes loader-anim{
  0%{
      opacity: 0;
  }
  50%{
      opacity: 100;
  }
  to{
      opacity: 0;
  }
}
html {
  --scrollbarBG: #ffffff;
  --thumbBG: #00ff7f;
}
body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
hr{ 
    text-align: center;
    width: 39rem;
    border: 1.3px solid rgb(207, 207, 207);
    border-radius: 200rem;
    color: rgb(255, 91, 91);
}
footer{
  text-align: center;
  padding: 0.5rem;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}
.about {
  padding: 4rem 1rem;
  margin: 2rem 0.5rem;
}
.image {
  margin: 2rem 0rem 0 0;
  height: 100%;
  border: 0px solid #ffffff;
  border-radius: 1.4rem;
  overflow-y: hidden;
}
.image:hover {
  transform: scale(1.03);
  overflow: hidden;
  box-shadow: 0 13px 6px -6px rgb(132, 255, 132);
  transition: ease-in-out 0.25s;
}
.details {
  font-size: 19pt;
  color: #707070;
}
.button {
  border: 5px solid #00ff7f;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 0.5rem 7rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  color: black;
}
.button:hover {
  border: 5px solid white;
  border-radius: 0;
  font-weight: bold;
  padding: 0.5rem 7rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  color: #000000;
  background-color: #00ff7f;
}
.button2{
  border: 5px solid #ffffff;
  background-color: #00ff7f;
  border-radius: 1rem;
  padding: 0.5rem 7rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  color: black;
}
.button2:hover{
  border: 5px solid #00ff7f;
  border-radius: 0;
  font-weight: bold;
  padding: 0.5rem 7rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  color: #000000;
  background-color: #ffffff;
}
.main-heading {
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  margin: 12rem 1rem 7rem 1rem;
  padding: 7rem 0rem;
  text-align: center;
  color: white;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 1rem;
}
.main-heading h1 {
  padding: 1rem 4rem 1rem 5rem;
  font-size: 5rem;
}
.heading {
  margin: 6rem 0rem 1rem 0;
  text-align: left;
  font-weight: 200;
  font-size: 3.3rem;
}
.navbar {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 12pt;
  padding-bottom: 1rem;
  background-color: #ffffff;
}

/* Navbar */
.navbar a {
  color: rgb(0, 0, 0);
}

.navbar a:hover {
  color: rgb(156, 156, 156);
}

/* Navbar Toggler */
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(25,55,25)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-radius: 3px;
  padding: 1rem;
  margin-top: 1rem;
  margin-right: 30rem;
  float: left;
}

/* Navbar Outline */
.navbar .navbar-toggler {
  outline: none;
  float: left;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: rgb(0, 0, 0);
  background-color: #00ff7f;
  border-radius: 2rem;
  margin: auto;
  padding-left: 42px;
  padding-right: 42px;
}
.treatment{
    margin: 2rem;
    padding: 3rem;
}
.card1{
    border: 2px solid rgb(206, 206, 206);
    border-radius: 0.5rem;
    font-size: 1.5;
    padding: 1.3rem;
    line-height: 1.7rem;
    color: #707070;  
    opacity: 0.85;
    
}
.btn:focus {
  outline: 0;
  box-shadow: none !important;
}
.opaz{
    opacity: 0.8;
}
.h1, h1 {
  font-size: 5rem;
}
.card1:hover{
    border-radius: none;
    transform: scale(1.085);
    font-weight: bold;
    color: rgb(0, 0, 0);
    transition: ease-in-out 0.3s;
    opacity: 1;
}
.card-header{
    margin-top: 1rem;
    border: none;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: #00ff7f;
}
.heading-treatments{
    padding: 1rem 4rem 1rem 5rem;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;     
}
.heading-treatments h1{
  font-size: 5rem;
}
.xyz{
    margin-top: 10rem;
}
.carousel{
    padding: 6rem 10rem;
    color: white;
}
.carousel-control-prev {
    margin-left: -4rem;
   
}
.carousel-control-next{
    margin-right: -4rem;
   
}
.carousel-item{
    color: #707070;
    font-size: 2rem;
    text-align: center;
}
.test-img{
    border: 3px solid white;
    border-radius: 100%;
    padding: 5rem;
    margin:1rem 2rem 3rem 2rem;
}
.display-4{
  text-align: left;
  font-weight: none;
  
  margin: 1rem 1rem 3rem 0rem;
}
.faq{
  margin: 3rem 4rem;
  
}
.faq button{
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 2.5rem 4rem;
  border: 0.2rem solid black;
  
}
.faq button:hover{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  background-color: #00ff7f;
  transition: ease-in-out 0.5s;
}
.faq button:focus{
  text-decoration: none;
  border-bottom: 0.2rem solid #00ff7f;
  text-align: left;
  color: #000000;
}
.faq .card{
  border: none;
}
.faq .card-body{
  color: #707070;
  font-size: 22pt;
  margin: 1rem 10rem;
  text-align: left;
  border-left: 3px inset black;
}
.button3{
  border: 5px solid #00ff7f;
  background-color: #ffffff;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 2.3px;
  color: rgb(0, 0, 0);
}
.button3:hover{
  border: 5px solid #000000;
  background-color: #000000;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.3rem;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.fa-mobile-alt, .fa-tty, .fa-envelope{
  text-align: left;
  margin: 0rem 1rem ;
}
sub{
  margin-left: 1rem;
}
.jumbotron{
  border-radius: 2rem;
  
}
.abc {
  margin-left: 2px;
}